
UnicornTask.Tests/bin/Debug/net6.0/

UnicornTask.Tests/obj/Debug/net6.0/

UnicornTask.Tests/obj/

UnicornTask/bin/Debug/net6.0/

UnicornTask/obj/Debug/net6.0/

UnicornTask/obj/

.idea/.idea.UnicornTask/.idea/
